<?xml version="1.0"?>
<launch>
    <include file="$(find offboard)/launch/tf.launch">
    </include>

    <!-- <include file="$(find ldlidar_stl_ros)/launch/ld06.launch"> -->
    <!-- </include> -->

    <rosparam command="load" file="$(find offboard)/config/waypoint_list.yaml" />

    <node pkg="offboard" type="offboard_node" respawn="false" name="offb_node" output="screen">
    </node>

    <include file="$(find ros_navigation)/launch/nav_px4.launch">
        <!-- <arg name="move_forward_only" value="$(arg move_forward_only)"/> -->
    </include>

</launch>